.btn-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 3px solid grey;
    .btn {
        width: 15rem;
        border: 1px solid;
        height: 3rem;
        margin-left: 4rem;
    }

    .btn:first-of-type {
        margin: 0;
    }
}



