.padding {
    padding: 3% 7%;
    margin: 0 8%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.btn {
    width: 15rem;
    border: 1px solid;
    height: 3rem;
    margin-left: 4rem;
}